.table-container{
    padding-top: 130px;
}

body{
    background-image: url(/assets/galaxia.jpg);
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}